<?xml version="1.0"?>

<configuration>
	<appSettings>
		<add key="contact.email.to" value="anne@redhawk-tech.com"/> <!--medinam@phototype.com,kapcarb@phototype.com-->
		<add key="contact.layout" value="/Contact-Us/Layout.txt"/>
		<add key="contact.redirect" value="/Contact-Us/Thank-You.aspx"/>
		<add key="recaptcha.siteKey" value="6LcLFwQTAAAAAB280HNSb-1rKYesu6de6hd5kiJJ"/>
		<add key="recaptcha.secretKey" value="6LcLFwQTAAAAAKTjah7Z6y3kBx5nYee6J9qQzXN4"/>
		<add key="extension.types" value="(.aspx)|(.asp)|(.html)|(.htm)"/>
	</appSettings>

    <system.web>
		<customErrors mode="Off" />
		<trace enabled="true" localOnly="false"/>
		<compilation debug="false" targetFramework="4.0" />
    </system.web>
	
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="FilterModule" type="FilterModule"/>
		</modules>
	</system.webServer>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="localhost" />
			</smtp>
		</mailSettings>
	</system.net>

</configuration>
